.account-wrapper {
  padding: 20px;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: #090909;
}

.account-header {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
  padding: 10px 0;
  line-height: 1.2;
}

.Content {
  border-radius: 5px;
  padding: 20px;

}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #000000;
}

.table th {
  background-color: #000000;
  color: #ffffff;
}
