.adminNavbar {
    border-radius: 10px;
    background-color: #033710;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 11%;
    max-width: 100%;
    padding: 13px 0 50px;
    font: 500 15px Lato, sans-serif;
  }
  
  .logoSystemName {
    align-self: stretch;
    width: 169px;
    min-height: 46px;
    color: #ffb803;
    font-weight: 800;
    padding: 20px 2px 7px;
  }
  
  @media (max-width: 991px) {
    .logoSystemName {
      margin-left: 7px;
    }
  }
  
  .logoImage {
    aspect-ratio: 100;
    object-fit: contain;
    object-position: center;
    width: 100%;
    align-self: stretch;
    margin-top: 18px;
  }
  
  .logOut {
    display: flex;
    min-height: 32px;
    align-items: center;
    gap: 10px;
    color: #f4eeee;
    justify-content: center;
    margin: 149px 0 0 18px;
  }
  
  @media (max-width: 991px) {
    .logOut {
      margin: 40px 0 0 10px;
    }
  }
  
  .logOutIcon {
    aspect-ratio: 1.12;
    object-fit: contain;
    object-position: center;
    width: 36px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    align-self: stretch;
    margin: auto 0;
  }
  
  .logOutText {
    align-self: stretch;
    margin: auto 0;
  }