body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/mpspc.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
  }
  
  .login-box {
    background-color: #fce4ec;
    padding: 35px;
    border-radius: 20px;
    width: 300px;
    height: 360px;
    text-align: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-container h1 {
    font-size: 19px;
    margin-bottom: 55px;
    color: black;
    border-bottom: 2px solid black;
  }
  
  .btn {
    border-radius: 12px;
    font-size: 15px;
    margin: 20px;
    width: 250px;
  }
  
  .btn-primary {
    background: #0d5d24;
    border: 2px solid black;
    color: white;
  }
  
  .btn-primary:hover {
    background: #33ff00;
    color: black;
  }
  
  .btn-info {
    background: #0d5d24;
    border: 2px solid black;
    color: white;
  }
  
  .btn-info:hover {
    background: #33ff00;
    color: black;
  }
  
  .or-divider {
    margin: 5px;
    color: black;
    font-size: 11px;
  }
  
  .modal-content,
  .register-modal-content {
    background-color: #fce4ec;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
  }
  
  .modal-header,
  .register-modal-header {
    background: transparent;
    border-bottom: 2px solid black;
  }
  
  .modal-footer {
    border-top: 2px solid black;
  }
  
  .modal-title {
    color: black;
  }
  
  .modal-body .input-group,
  .register-modal-body .input-group {
    margin-bottom: 15px;
  }
  
  .modal-body .form-control,
  .register-modal-body .form-control {
    border-radius: 12px;
    border: 2px solid black;
  }
  
  .input-group-text {
    background: white;
    color: black;
    border-radius: 12px;
    border: 2px solid black;
  }
  