.loan {
  padding: 5px;
}

.loanHeader {
  margin-bottom: 5px;
}

.loanTitle {
  font-size: 24px;
}

.loanList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.loanCard {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 15px;
  flex: 1 1 200px; 
  text-align: center;
  background-color: #6e6c6c;
}
