
.container {
  font-family: 'Arial, sans-serif';
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.wrapper {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
}

#welcome {
  margin-bottom: 20px;
}

#welcome h1 {
  font-size: 2.5rem;
  color: #000000;
  text-align: left;
  margin-bottom: 80px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: #ff0000;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}

.card-header {
  background-color: #000000;
  color: #fff;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-content {
  padding: 20px;
  width: 100%;
}

.card-content p {
  margin: 5px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-footer .item {
  background-color: #000000;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

.loan-status p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.progress-bar {
  height: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar .progress {
  height: 100%;
  border-radius: 5px;
  background-color: #28a745;
  width: 20%;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}
